{% load static %}
<nav class="nav">
    <div class="nav__item">
        <span class="nav__title">AUTHOR</span>
        <div class="nav__wrap">
            <img class="nav__auth-img" src="{% static 'img/author.jpg' %}" alt="著者: tsux">
            <span class="nav__auth-name">tsux</span>
            <p class="nav__auth-desc">
                tsux です。2000 年生まれ京大生です。
                アルバイトでWEB開発のエンジニアをやっています。
                最近参加させてもらった機械学習のハッカソンに影響を受けて機械学習の勉強中。
                現在、Djangoでのサービス立ち上げや機械学習のフレームワーク作りなどを行なっています。
            </p>
            <ul class="nav__auth-sns">
                <li><a class="nav__anchor" href="https://twitter.com/tsux2000"><i class="fab fa-twitter"></i> Twitter</a>
                <li><a class="nav__anchor" href="https://github.com/tsux2000"><i class="fab fa-github"></i> GitHub</a>
            </ul>
        </div>
    </div>
    <div class="nav__item">
        <span class="nav__title">CATEGORY</span>
        <ul class="nav__wrap">
            {% for item in categories %}
            <li>
                <a class="nav__anchor" href="{{ request.scheme }}://{{ request.get_host }}/blog/category/{{ item.slug }}/">{{ item.name }}</a>
            </li>
            {% endfor %}
            </ul>
    </div>
    <div class="nav__item">
        <span class="nav__title">ARCHIVE</span>
        <ul class="nav__wrap">
            {% for item in dates %}
            <li>
                <a class="nav__anchor" href="{{ request.scheme }}://{{ request.get_host }}/blog/?archive={{ item.year }}-{{ item.month }}">{{ item.year }}年{{ item.month }}月</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
