{% load static %}
<nav class="nav">
  <div class="nav__item">
    <span class="nav__title">AUTHOR</span>
    <div class="nav__wrap">
      <img class="nav__auth-img"
          src="{% if author.0.icon %}{{ author.0.icon.url }}{% else %}{% static 'img/author.jpg' %}{% endif %}"
          alt="{{ author.0.name }}">
      <span class="nav__auth-name">{{ author.0.name }}</span>
      <p class="nav__auth-desc">{{ author.0.bio }}</p>
      <span class="nav__auth-name">SNS</span>
      <ul class="nav__auth-sns">
        <li>
          <a href="https://twitter.com/tsux2000">
            <img class="nav__sns-img" src="{% static 'img/sns_twitter.png' %}" alt="twitter">
          </a>
        </li>
        <li>
          <a href="https://github.com/tsux2000">
            <img class="nav__sns-img" src="{% static 'img/sns_github.png' %}" alt="github">
          </a>
        </li>
        <li>
          <a href="https://note.com/tsux2000">
            <img class="nav__sns-img" src="{% static 'img/sns_note.jpg' %}" alt="note">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav__item">
    <span class="nav__title">CATEGORY</span>
    <ul class="nav__wrap">
      {% for item in categories %}
      {% if item.article_set.count %}
      <li>
        <a class="nav__anchor" href="{% url 'category' item.slug %}">{{ item.name }}</a>
      </li>
      {% endif %}
      {% endfor %}
      </ul>
  </div>
  <div class="">
    {{ advertisement.0.0.code | safe }}
  </div>
  <div class="nav__item">
    <span class="nav__title">ARCHIVE</span>
    <ul class="nav__wrap">
      {% for item in dates %}
      <li>
        <a class="nav__anchor" href="{% url 'list' %}?archive={{ item.year }}_{{ item.month }}">{{ item.year }}年{{ item.month }}月</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
