{% load static %}
<nav class="nav">
  <div class="nav__item">
    <span class="nav__title">AUTHOR</span>
    <div class="nav__wrap">
      <img class="nav__auth-img" src="{% static 'img/author.jpg' %}" alt="著者: tsux">
      <span class="nav__auth-name">尽＠京大生エンジニア</span>
      <p class="nav__auth-desc">
        尽（ tsux / ツクス ）と申します。
        2000年生。京大情報学科2回生。学生エンジニアやってます。
        Pythonを中心にWEB開発や機械学習等をやってます。
        プログラミングを教える立場になるので、知識整理も兼ね、エンジニア向けの記事を中心に1日1本を目標に書きます。
        Python が好きで、 Django が得意です。
      </p>
      <span class="nav__auth-name">SNS</span>
      <ul class="nav__auth-sns">
        <li>
          <a href="https://twitter.com/tsux2000">
            <img class="nav__sns-img" src="{% static 'img/sns_twitter.png' %}" alt="twitter">
          </a>
        </li>
        <li>
          <a href="https://github.com/tsux2000">
            <img class="nav__sns-img" src="{% static 'img/sns_github.png' %}" alt="github">
          </a>
        </li>
        <li>
          <a href="https://note.com/tsux2000">
            <img class="nav__sns-img" src="{% static 'img/sns_note.jpg' %}" alt="note">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav__item">
    <span class="nav__title">CATEGORY</span>
    <ul class="nav__wrap">
      {% for item in categories %}
      {% if item.article_set.count %}
      <li>
        <a class="nav__anchor" href="{% url 'category' item.slug %}">{{ item.name }}</a>
      </li>
      {% endif %}
      {% endfor %}
      </ul>
  </div>
  <div class="nav__item">
    <span class="nav__title">ARCHIVE</span>
    <ul class="nav__wrap">
      {% for item in dates %}
      <li>
        <a class="nav__anchor" href="{% url 'list' %}?archive={{ item.year }}_{{ item.month }}">{{ item.year }}年{{ item.month }}月</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
