@charset "utf-8";

@import url(./reset.css);
@import url(./fontawesome/css/all.css);

@import url(./frontparts/header.css);
@import url(./frontparts/footer.css);

a {
  color: inherit;
}

ul {
  list-style-type: none;
}

html {
  background: url(../img/bgi.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.body {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.contents {
  height: 100vh;
  overflow-y: scroll;
  padding: 70px 20px;
  width: 100%;
}

.about {
  min-height: 100%;
  width: 100%;
}

.about__title {
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 2;
}

.about__item {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 2;
}

.about__icon--twitter,
.about__icon--github {
  font-size: 28px;
  margin: 10px 0 0 15px;
}

.about__anchor {
  color: #9f9;
  text-decoration: underline;
}

.about__icon--twitter{
  color: #9df;
}

.about__icon--github {
  color: #000;
}

.work {
  min-height: 100%;
  padding: 10px 0 0;
  width: 100%;
}

.work__title {
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 2;
}

.work__item {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 2;
}

.work__anchor {
  color: #9f9;
  text-decoration: underline;
}

.work__text {
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.6;
}


.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  z-index: 10;
}

@media (max-width:1000px) {

  .header__subtitle {
    display: none;
  }

  .header__title {
    font-size: 22px;
  }

  .about,
  .work {
    height: auto;
    padding: 20px 0;
  }

}
