
.article-list__item {
    display: flex;
    margin: 0 10px 30px;
    padding: 10px;
    width: 100%;
}

.article-list__article-number {
    display: block;
    color: #888;
    font-size: 16px;
    text-align: right;
    padding: 0 0 10px;
}

.article-list__thumb {
    width: 240px;
}

.article-list__title {
  color: #333;
  font-size: 28px;
  line-height: 1.6;
  padding: 5px 0 5px 20px;
}

.article-list__item-title {
  color: #333;
  font-size: 20px;
  line-height: 1.6;
  padding: 5px 0 5px 10px;
}

.article-list__desc {
    color: #888;
    font-size: 12px;
    line-height: 1.8;
    padding: 0 0 0 10px;
}

.list__page-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px 20px;
  width: 100%;
  text-align: center;
}

.list__page-nav-item {
  display: inline-block;
  background: #333;
  border: 2px solid #888;
  border-radius: 4px;
  color: aliceblue;
  line-height: 26px;
  padding: 0 8px;
  margin: 5px 2px;
}


@media (max-width:1000px) {

    .article-list__item {
        flex-flow: column;
        margin: 0;
        padding: 15px 10px 30px;
        width: 100%;
    }

    .article-list__thumb {
        width: 100%;
    }

    .article-list__title {
        font-size: 22px;
        padding: 5px 10px 5px;
    }

}
