.md {
  color: #333;
  font-family: "M PLUS 1p", serif;
  font-size: 12px;
  line-height: 2em;
  overflow: scroll;
  width: 100%;
}

.md a {
  color: #04a;
  line-height: 1.5em;
  outline: 0;
  text-decoration: none;
}

.md a:visited {
  color: #008;
}

.md a:focus,
.md a:hover {
  color: #06e;
}

.md a:active {
  color: #fa0;
}

.md ::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

.md ::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

.md a::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

.md a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

.md p {
  margin: 1em 0;
}

.md img {
  max-width: 100%;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  line-height: 1.8em;
  font-weight: normal;
  color: #333;
}


.md h1 {
  font-size: 2.2rem;
}

.md h2 {
  font-size: 1.8em;
}

.md h3 {
  font-size: 1.5em;
}

.md h4 {
  font-size: 1.2em;
  font-weight: bold;
}

.md h5 {
  font-size: 1em;
  font-weight: bold;
}

.md h6 {
  font-size: 1em;
}

.md blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

.md hr {
  display: block;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

.md pre,
.md code,
.md kbd,
.md samp {
  color: #333;
  font-family: monospace;
  font-size: 0.98em;
}

.md pre {
  margin: 1em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.md code {
  background: #eee;
  border-radius: 3px;
  margin: 0 0.5em;
  padding: 0 0.5em;
}

.md pre code {
  padding: 1em 1.5em;
}

.md b,
.md strong {
  font-weight: bold;
}

.md em {
  font-style: italic;
  font-weight: inherit;
}

.md ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

.md mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

.md sub,
.md sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.md sup {
  top: -0.5em;
}

.md sub {
  bottom: -0.25em;
}

.md ul,
.md ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

.md li p:last-child {
  margin: 0;
}

.md input {
  display: inline-block;
  margin: 0 1em;
  transform: translateY(-0.2em);
}

.md dd {
  margin: 0 0 0 2em;
}

.md img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

.md table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em;
}

.md table th,
.md table td {
  padding: 10px 0;
  text-align: center;
  vertical-align: center;
  padding: 0.5em 2em;
  border: solid 1px #ddd;
}

.md table thead tr {
  border-bottom: solid 2px #aaa;
}

.md table tbody tr:nth-child(odd) {
  background-color: #eee;
}

.md table :empty {
  display: none;
}

@media only screen and (max-width: 767px) {

  .md h1 {
    font-size: 1.8rem;
  }

  .md h2 {
    font-size: 1.6em;
  }

  .md h3 {
    font-size: 1.4em;
  }

}

@media only screen and (min-width: 480px) {

  .md {
    font-size: 14px;
  }

}

@media only screen and (min-width: 768px) {

  .md {
    font-size: 16px;
  }

}
