{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">
    <meta name="format-detection" content="email=no, telephone=no, address=no">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/18839ef28e.js" crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+1p">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&display=swap">
    <!-- general -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}?{% now 'YmdHis' %}">
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <!-- mathjax -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {
        inlineMath: [['$','$']],
        displayMath: [['$$','$$']],
      }});
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
    <!-- highlight -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/vs2015.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script data-ad-client="ca-pub-8617325242122282" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>{{ meta.title }}</title>
  </head>
  <body>
    <header class="header">
      <i class="fas fa-bars header__panel-button" id="js-header__panel-button"></i>
      <h1 class="header__h1">
        <a class="header__title" href="{{ request.scheme }}://{{ request.get_host }}/">
          <span>tsux.me</span>
          <span class="header__subtitle">現役京大生エンジニア精進の日々</span>
        </a>
      </h1>
    </header>
    {% include './frontparts/panel.html' %}
    <section class="main">
      {% block contents %}
      {% endblock %}
      {% include './frontparts/nav.html' %}
    </section>
    <footer class="footer">
      <div class="footer__anchors">
        <a href="{% url 'article' 'privacy_policy' %}" class="footer__anchor">プライバシーポリシー</a>
      </div>
      <span class="footer__copyright">©️ 2020 tsux.</span>
    </footer>
  </body>
</html>
